<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Blogs</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/blogIndex.css">
    <link rel="stylesheet" href="/stylesheets/wangEditor.min.css">
    <style>
    	#editor-trigger {
            height: 400px;
            /*max-height: 500px;*/
        }
        #editor-container{
        	margin-top: 10px;
        	border: none;
        	/*padding: 0;*/
        }
        .container {
            width: 100%;
        }
        .wangEditor-container{
        	border: none;
 		}
 		.form-select{
 			width: 220px;
    		border: 1px solid #ccc;
 		}
 		textarea{
 			resize: none;
 		}
    </style>
       
</head>
<body>

   

	<!-- 引入 blogHeader 模板 -->
	<% include blogHeader.ejs %>

	<div class="container">
    	<div class="row">
	        <div class="col-md-9">
	          	<div class="panel panel-default">
  					<div class="panel-heading">
  						<h3 class="panel-title">Panel title</h3>
  						Panel heading without title
  					</div>
					<div class="panel-body">
					<form class="form-block" action="/saveBlog" method="post">
					<!-- <form class="form-block" action="/users/saveBlog" method="post"> -->
					<input type="hidden" name="blogAuthor" value="<%= username %>">
					<input type="hidden" name="blogAddTime" value="<%= new Date().toLocaleString() %>">
						<div class="form-group">
							
							<!-- <label class="text-primary bg-success">类型</label>
							<span class="label label-default">Default</span> -->
							<span class="label label-success">类型</span>
							
							<select class="form-control form-select" name="blogType">
							  <option>请选择</option>
							  <option>原创</option>
							  <option>转载</option>
							  <option>精华</option>
							</select>
						</div>


						<div class="form-group">
							<span ></span>
							<!-- <label class="text-primary bg-success">类型</label>
							<span class="label label-default">Default</span> -->
							<span class="label label-danger">分类</span>
							
							<select class="form-control form-select" name="blogCate">
							  <option>请选择</option>
							  <option>html</option>
							  <option>css</option>
							  <option>javascript</option>
							  <option>php</option>
							  <option>nodejs</option>
							  <option>angularjs</option>
							  <option>reactjs</option>
							</select>
						</div>
						<!-- <label class="text-primary bg-success">标题</label> -->
						<span class="label label-warning">标题</span>
						<textarea class="form-control" rows="1" placeholder="文章标题" name="blogTitle"></textarea>

					
					<br>	
						<!-- List group -->
						<div id="editor-container" class="container">
        				<!-- <div id="editor-trigger"><p>请输入内容</p></div> -->
				        <textarea id="editor-trigger" style="display:none;" name="blogContent">
				            <p>请输入内容...</p>
				        </textarea>
    					</div>
						
					</div>


					<div class="panel-footer">
						<button type="submit" class="btn btn-primary">提交</button>
					</div>

					</form>

				</div>

			</div>

	        
	        <div class="col-md-3">

	        	

	        	<!-- 引入 blogTag 模板 -->
				<% include blogTag.ejs %>

				
			</div>
        </div>	
	</div>

			

	<!-- 引入 blogHeader 模板 -->
	<% include blogFooter.ejs %>

	
<script src="/javascripts/jquery.js"></script> 
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/wangEditor.min.js"></script>
<script type="text/javascript">
        // 阻止输出log
        // wangEditor.config.printLog = false;

        var editor = new wangEditor('editor-trigger');

        // 上传图片
        editor.config.uploadImgUrl = '/upload';
        editor.config.uploadParams = {
            // token1: 'abcde',
            // token2: '12345'
        };
        editor.config.uploadHeaders = {
            // 'Accept' : 'text/x-json'
        }
        // editor.config.uploadImgFileName = 'myFileName';

        // 表情显示项
        editor.config.emotionsShow = 'value';

        // 只粘贴纯文本
        // editor.config.pasteText = true;

        // 跨域上传
        // editor.config.uploadImgUrl = 'http://localhost:8012/upload';

        // 第三方上传
        // editor.config.customUpload = true;

        // editor.config.menus = [
        //     'img',
        //     'insertcode',
        //     'eraser',
        //     'fullscreen'
        // ];

        // onchange 事件
        // editor.onchange = function () {
        //     console.log(this.$txt.html());
        // };

        // 取消过滤js
        // editor.config.jsFilter = false;

        // 取消粘贴过来
        // editor.config.pasteFilter = false;

        // 设置 z-index
        // editor.config.zindex = 20000;

        // 语言
        // editor.config.lang = wangEditor.langs['en'];

        // 自定义菜单UI
        // editor.UI.menus.bold = {
        //     normal: '<button style="font-size:20px; margin-top:5px;">B</button>',
        //     selected: '.selected'
        // };
        // editor.UI.menus.italic = {
        //     normal: '<button style="font-size:20px; margin-top:5px;">I</button>',
        //     selected: '<button style="font-size:20px; margin-top:5px;"><i>I</i></button>'
        // };
        editor.create();
    </script>


</body>
</html>