<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Index</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/blogIndex.css">

</head>
<body>

   

	<!-- 引入 blogHeader 模板 -->
	<% include blogHeader.ejs %>

	<div class="container">
    	<div class="row">
	        <div class="col-md-9">
	          	<div class="panel panel-default">
  					<div class="panel-heading">
  						<h3 class="panel-title">Panel title</h3>
  						Panel heading without title
  						
  					</div>
					<div class="panel-body">
						<!-- List group -->
						<div class="list-group">
						    <a href="/blogDetail" class="list-group-item"><span class="label label-success">原创</span> 野狗Meetup Node.js技术沙龙</a>
						    <a class="list-group-item">
							    <span class="label label-info">原创</span> 
							    redis 缓存方案--有没有可用的？
							    <span class="tag tag-sm" data-container="body" data-toggle="popover" data-title="html" data-trigger="hover" data-delay=500 data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">webpack</span>
							    <span class="tag tag-sm" >webpack</span>
						    </a>
						    <a class="list-group-item"><span class="label label-warning">原创</span>  Linux中,有了tar命令,似乎gzip,compress这些命令没有什么用了?</a>
						    <a class="list-group-item"><span class="label label-danger">原创</span> homebrew 安装问题 </a>
						    <a class="list-group-item"><span class="label label-primary">原创</span> fis3根目录的文件不能发布到static目录中？</a>
						    <a class="list-group-item"><span class="label label-success">原创</span> 野狗Meetup Node.js技术沙龙</a>
						    <a class="list-group-item"><span class="label label-info">原创</span> redis 缓存方案--有没有可用的？</a>
						    <a class="list-group-item"><span class="label label-warning">原创</span>  Linux中,有了tar命令,似乎gzip,compress这些命令没有什么用了?</a>
						    <a class="list-group-item"><span class="label label-danger">原创</span> homebrew 安装问题 </a>
						    <a class="list-group-item"><span class="label label-primary">原创</span> fis3根目录的文件不能发布到static目录中？</a>
						    <a class="list-group-item"><span class="label label-success">原创</span> 野狗Meetup Node.js技术沙龙</a>
						    <a class="list-group-item"><span class="label label-info">原创</span> redis 缓存方案--有没有可用的？</a>
						    <a class="list-group-item"><span class="label label-warning">原创</span>  Linux中,有了tar命令,似乎gzip,compress这些命令没有什么用了?</a>
						    <a class="list-group-item"><span class="label label-danger">原创</span> homebrew 安装问题 </a>
						    <a class="list-group-item"><span class="label label-primary">原创</span> fis3根目录的文件不能发布到static目录中？</a>
						</div>
						<nav>
					      	<ul class="pagination">
						        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
						        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						        <li><a href="#">2</a></li>
						        <li><a href="#">3</a></li>
						        <li><a href="#">4</a></li>
						        <li><a href="#">5</a></li>
						        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
					     	</ul>
   						</nav>
					</div>
				</div>

			</div>

	        
	        <div class="col-md-3">

	        	<div class="panel panel-info">
  					<div class="panel-heading">About Me</div>
  					<div class="panel-body">
	    				<div class="thumbnail">
					      	<img class="img img-circle img-thumbnail" src="/images/favicon.ico" alt="...">
					      	<div class="caption">
					        <h3 class="name bg-info text-success">Liu wei</h3>
					        <p class="desc text-info">Lorem ipsum dolor sit amet, consectetur elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
					        <!-- <p class="desc">
					        	<a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>
					        </p> -->
					        <div class="bbs-group">
					        	<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github fa-fw"></i></span>
								<span class="label label-success" data-toggle="tooltip" data-placement="top" title="QQ"><i class="fa fa-qq fa-fw"></i></span>
								<span class="label label-info" data-toggle="tooltip" data-placement="top" title="wechat"><i class="fa fa-wechat fa-fw"></i></span>
								<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="facebook"> <i class="fa fa-facebook fa-fw"></i></span>
								<span class="label label-danger" data-toggle="tooltip" data-placement="top" title="twitter"> <i class="fa fa-twitter fa-fw"></i></span>
					        </div>
							
					      </div>
    					</div>
  					</div>
				</div>

				<div class="panel panel-default">
	  				<div class="panel-body">
	   				<button  type="button" class="btn btn-success"><a class="add-btn" href="/addBlog">发布文章</a></button>
	  				</div>
				</div>

	        	<div class="panel panel-success">
  					<div class="panel-heading">Tags</div>
					<div class="panel-body">
						
						<button class="btn btn-default btn-tag" type="button">
						  html <span class="badge">14</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  html5/css3 <span class="badge">10</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  css <span class="badge">10</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  javascript <span class="badge">99</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  nodejs <span class="badge">41</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  mongoDB <span class="badge">41</span>
						</button>
						<button class="btn btn-warning btn-tag" type="button">
						  php <span class="badge">24</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  mysql <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  angularjs <span class="badge">30</span>
						</button>
						<button class="btn btn-danger btn-tag" type="button">
						  reactjs <span class="badge">30</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  grunt <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  git <span class="badge">40</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  svn <span class="badge">30</span>
						</button>
					</div>
				</div>

				
			</div>
        </div>	
	</div>
	

	<!-- 引入 blogHeader 模板 -->
	<% include blogFooter.ejs %>

	
<script src="/javascripts/jquery.js"></script> 
<script src="/javascripts/bootstrap.min.js"></script>
<script>
	$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	});

	$(function () {
  $('[data-toggle="popover"]').popover()
})
</script> 

</body>
</html>