<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/blogIndex.css">
    <link rel="stylesheet" href="/stylesheets/editor.css" />
    <style>
	    .CodeMirror {
	    	 height: 250px; 
		}
		body p{
			text-align: justify;
			text-indent: 20px;
		}
		
		/*.type{
			display: inline-block;
			width: 20ch;
			overflow: hidden;
			white-space: nowrap;
			background: #000;
			color: rgb(59,252,52);
			font-family: Courier;
			border-right: 1px solid;
			-webkit-animation: typing 6s steps(20) infinite,x 1s steps(1) infinite;
		}
		@-webkit-keyframes typing{
			0%{
				width: 0;
			}
			100%{
				width: 20ch;
			}
		}
		@-webkit-keyframes x{
			from,to{
				border-color: transparent;
			}

			50%{
				border-color: #fff; 
			}
		}*/

	    
    </style>
   
</head>
<body>

   

	<!-- 引入 blogHeader 模板 -->
	<% include blogHeader.ejs %>

	<div class="container">
    	<div class="row">
	        <div class="col-md-9">
	          	<div class="panel panel-info">
  					<div class="panel-heading">
  						<h3 class="panel-title">
							<span class="label label-danger" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github fa-fw"></i>new</span> <span class="type">Welcome to my nodejs blog!</span>
						</h3>
  					</div>
					<div class="panel-body">
						<div class="page-header">
  							<h2>野狗Meetup Node.js技术沙龙<small> <span class="label label-info">原创</span> </small></h2>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat architecto nam sequi accusantium soluta, molestias vero molestiae rem cupiditate maxime. Voluptates officia tempore iste optio minus labore qui eos ut.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat architecto nam sequi accusantium soluta, molestias vero molestiae rem cupiditate maxime. Voluptates officia tempore iste optio minus labore qui eos ut.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat architecto nam sequi accusantium soluta, molestias vero molestiae rem cupiditate maxime. Voluptates officia tempore iste optio minus labore qui eos ut.lorem   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus architecto asperiores? Blanditiis veritatis nulla, doloremque culpa eos beatae enim alias, optio quidem, laborum adipisci! Odio unde, quidem eos soluta.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quibusdam corporis obcaecati itaque nisi sapiente impedit porro beatae, temporibus et deleniti, eveniet, molestias maxime ipsum aperiam nostrum numquam repudiandae facilis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sit numquam debitis itaque, optio placeat quisquam similique cum soluta voluptate, animi laboriosam reiciendis doloremque at, quia beatae enim aspernatur ipsa!</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat architecto nam sequi accusantium soluta, molestias vero molestiae rem cupiditate maxime. Voluptates officia tempore iste optio minus labore qui eos ut.lorem   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus architecto asperiores? Blanditiis veritatis nulla, doloremque culpa eos beatae enim alias, optio quidem, laborum adipisci! Odio unde, quidem eos soluta.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quibusdam corporis obcaecati itaque nisi sapiente impedit porro beatae, temporibus et deleniti, eveniet, molestias maxime ipsum aperiam nostrum numquam repudiandae facilis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sit numquam debitis itaque, optio placeat quisquam similique cum soluta voluptate, animi laboriosam reiciendis doloremque at, quia beatae enim aspernatur ipsa!</p>

						
					</div>
					<div class="panel-footer">
						<span><i class="fa fa-tags fa-fw"></i>tags</span>
						<span class="label label-info" data-toggle="tooltip" data-placement="top">html</span>
						<span class="label label-warning" data-toggle="tooltip" data-placement="top">css</span>
						<span class="label label-success" data-toggle="tooltip" data-placement="top">nodejs</span>
					</div>
				</div>



				<div class="panel panel-danger">
				  <!-- Default panel contents -->
				  <div class="panel-heading">10回复</div>
				  <div class="panel-body">
				   <div class="replay">
				   	<img src="" alt="" class="reply-img">
				   	<span class="reply-info"></span>
				   	<span class="reply-btn"></span>

				   </div>
				  </div>

				  <!-- List group -->
				  <ul class="list-group">
				    <li class="list-group-item">Cras justo odio</li>
				    <li class="list-group-item">Dapibus ac facilisis in</li>
				    <li class="list-group-item">Morbi leo risus</li>
				    <li class="list-group-item">Porta ac consectetur ac</li>
				    <li class="list-group-item">Vestibulum at eros</li>
				  </ul>
				</div>

				<div class="panel panel-default">
  					<div class="panel-heading">添加回复</div>
  					<div class="panel-body">
	    				<textarea class="editor" name="editor" id="editor" ></textarea>
            			<button type="button" class="btn btn-primary">回复</button>
  					</div>
				</div>

				

			</div>



	        
	        <div class="col-md-3">

	        	<div class="panel panel-info">
  					<div class="panel-heading">About Me</div>
  					<div class="panel-body">
	    				<div class="thumbnail">
					      	<img class="img img-circle img-thumbnail" src="/images/favicon.ico" alt="...">
					      	<div class="caption">
					        <h3 class="name bg-info text-success">Liu wei</h3>
					        <p class="desc text-info">Lorem ipsum dolor sit amet, consectetur elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
					        <!-- <p class="desc">
					        	<a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>
					        </p> -->
					        <div class="bbs-group">
					        	<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github fa-fw"></i></span>
								<span class="label label-success" data-toggle="tooltip" data-placement="top" title="QQ"><i class="fa fa-qq fa-fw"></i></span>
								<span class="label label-info" data-toggle="tooltip" data-placement="top" title="wechat"><i class="fa fa-wechat fa-fw"></i></span>
								<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="facebook"> <i class="fa fa-facebook fa-fw"></i></span>
								<span class="label label-danger" data-toggle="tooltip" data-placement="top" title="twitter"> <i class="fa fa-twitter fa-fw"></i></span>
					        </div>
							
					      </div>
    					</div>
  					</div>
				</div>

	        	<div class="panel panel-success">
  					<div class="panel-heading">Tags</div>
					<div class="panel-body">
						
						<button class="btn btn-default btn-tag" type="button">
						  html <span class="badge">14</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  html5/css3 <span class="badge">10</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  css <span class="badge">10</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  javascript <span class="badge">99</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  nodejs <span class="badge">41</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  mongoDB <span class="badge">41</span>
						</button>
						<button class="btn btn-warning btn-tag" type="button">
						  php <span class="badge">24</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  mysql <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  angularjs <span class="badge">30</span>
						</button>
						<button class="btn btn-danger btn-tag" type="button">
						  reactjs <span class="badge">30</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  grunt <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  git <span class="badge">40</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  svn <span class="badge">30</span>
						</button>
					</div>
				</div>

				
			</div>
			
        </div>	
	</div>
	



	<!-- 引入 blogHeader 模板 -->
	<% include blogFooter.ejs %>
<script src="/javascripts/jquery.js"></script> 
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/editor.js"></script>
<script src="/javascripts/marked.js"></script>
<script>
	$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	});

	$(function () {
  		$('[data-toggle="popover"]').popover()
	});
	var editor = new Editor();
	editor.render();

</script>
<script>
	


</script> 
<!-- <script src="http://api.map.baidu.com/api?v=2.0&ak=AMt1vrxwTqGzf1I94PMx7K0u" type="text/javascript"></script>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(126.637828, 45.714955);
	map.centerAndZoom(point, 16);
	var marker = new BMap.Marker(point);  // 创建标注
	map.addOverlay(marker);               // 将标注添加到地图中
	marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	//map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script> -->
</body>
</html>