<footer class="footer navbar-static-bottom wrap" >
	    <div class="container wrap">
		    <div class="row">
		      <div class="col-md-4 col-sm-12 col-xs-12  footer-section footer-info">


				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Contact Me</h3>
				    I wish you will contact me right now!
				  </div>
				  	<div class="panel-body">
    					<form action="/saveMessage" method="post">
						  <div class="form-group col-md-6">
						   
						    <input type="text" name="mesName" class="form-control" id="" placeholder="Name">
						  </div>
						  <div class="form-group col-md-6">
						   
						    <input type="email" name="mesEmail" class="form-control" id="" placeholder="Email">
						  </div>

						  <div class="form-group col-md-12">
						   
						    <input type="text" name="mesSubject" class="form-control" id="" placeholder="Subject">
						  </div>



						  <div class="form-group col-md-12">
						   
						   <textarea class="form-control" rows="4" placeholder="Content" name="mesContent"></textarea>
						  </div>
						 
						 
						  

						  <div class="form-group col-md-12">
						  
						  <button type="submit" class="btn btn-success col-md-12">Submit</button>
						  </div>

						  <div class="form-group col-md-12">
						  
						  <button type="reset" class="btn btn-default col-md-12">Reset</button>
						  
						  </div>
						</form>
  					</div>
				</div>
		       
				
		      </div>
		      <div class="col-md-4 col-sm-6 col-xs-12 footer-section">
		        <ul class="footer-nav">
		          <li><h4>页脚导航</h4></li>
		          <li>首页</li>
		          <li>博文列表</li>
		          <li>个人主页</li>
		          <li>关于我</li>
        		</ul>

        		<ul class="footer-contact-info">
		          <li><h4>联系我</h4></li>
		          <li><span><i class="fa fa-phone"></i></span> 电话: <a href="tel:15765505994">+86 15765505994</a></li>
		          <li><span><i class="fa fa-envelope"></i></span> 邮箱: <a href="mailto:lwdgzyx@gmail.com">lwdgzyx@gmail.com</a></li>
		          <li><span><i class="fa fa-qq"></i></span> QQ: 445913035</li>
		          <li><span><i class="fa fa-map-marker"></i></span> 联系地址: 黑龙江省哈尔滨市南岗区黑龙江大学</li>
		          <li>Copyright&nbsp<span><i class="fa fa-copyright"></i></span>&nbsp;2016-2016 | 皖ICP备15024039</li>
		         
        		</ul>
		        
		      </div>

		    <div class="col-md-4 col-sm-6 col-xs-12 footer-section">
		      	<div class="page-header">
  					<h3>My Location <small>from Baidu Map</small></h3>
				</div>
				<div id="allmap"  style="height: 250px; width:100%;"></div>
		    </div>
		      
  		</div>

	</footer>
 

<script src="http://api.map.baidu.com/api?v=2.0&ak=AMt1vrxwTqGzf1I94PMx7K0u" type="text/javascript"></script>

<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(126.637828, 45.714955);
	map.centerAndZoom(point, 16);
	var marker = new BMap.Marker(point);  // 创建标注
	map.addOverlay(marker);               // 将标注添加到地图中
	marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
	//map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
</script>