<div class="panel panel-success">
  					<div class="panel-heading">Tags</div>
					<div class="panel-body">
						
						<button class="btn btn-default btn-tag" type="button">
						  html <span class="badge">14</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  html5/css3 <span class="badge">10</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  css <span class="badge">10</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  javascript <span class="badge">99</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  nodejs <span class="badge">41</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  mongoDB <span class="badge">41</span>
						</button>
						<button class="btn btn-warning btn-tag" type="button">
						  php <span class="badge">24</span>
						</button>
						<button class="btn btn-primary btn-tag" type="button">
						  mysql <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  angularjs <span class="badge">30</span>
						</button>
						<button class="btn btn-danger btn-tag" type="button">
						  reactjs <span class="badge">30</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  grunt <span class="badge">30</span>
						</button>
						<button class="btn btn-info btn-tag" type="button">
						  git <span class="badge">40</span>
						</button>
						<button class="btn btn-success btn-tag" type="button">
						  svn <span class="badge">30</span>
						</button>
					</div>
				</div>