<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="jumbotron">
        <h1>Welcome to Nodejs World!</h1>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">登录</a></p>
        <p><a class="btn btn-primary btn-lg" href="/users/list" role="button">用户列表</a></p>
        <p><a class="btn btn-primary btn-lg" href="/messList" role="button">留言列表</a></p>
        <p><a class="btn btn-primary btn-lg" href="/blogsList" role="button">文章列表</a></p>
    </div>
    <ul class="list-group">
        <%
           for(var i=0; i<users.length; i++){
        %>
            <li class="list-group-item"><%= users[i]%></li>
        <%
           }
         %>
    </ul>
  </body>
</html>
