<div class="panel panel-info">
	<div class="panel-heading">About Me</div>
		<div class="panel-body">
			<div class="thumbnail">
		      	<img class="img img-circle img-thumbnail" src="/images/favicon.ico" alt="...">
		      	<div class="caption">
		      	<%	
		      		var USER;
		      		if(!username){
		      			USER = "未登录";
		      		}else{
		      			USER = username;
		      		}
		      	%>
		      	<%
		      		var SIGN;
		      		if(!userInfo.sign){
		      			SIGN = "这个家伙很懒，什么都没留下！";
		      		}else{
		      			SIGN = userInfo.sign;
		      		}
		      	%>
		        <h3 class="name bg-info text-success"><%= USER %></h3>
		        <p class="desc text-info"><%= SIGN %></p>
		        <!-- <p class="desc">
		        	<a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>
		        </p> -->
		        <div class="bbs-group">
		        	<span class="label label-primary" data-toggle="tooltip" data-placement="top" title="github"><i class="fa fa-github fa-fw"></i></span>
					<span class="label label-success" data-toggle="tooltip" data-placement="top" title="QQ"><i class="fa fa-qq fa-fw"></i></span>
					<span class="label label-info" data-toggle="tooltip" data-placement="top" title="wechat"><i class="fa fa-wechat fa-fw"></i></span>
					<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="facebook"> <i class="fa fa-facebook fa-fw"></i></span>
					<span class="label label-danger" data-toggle="tooltip" data-placement="top" title="twitter"> <i class="fa fa-twitter fa-fw"></i></span>
		        </div>
		    </div>
		</div>
	</div>
</div>