<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>


<div class="jumbotron">

    <h1>Hello, <%= username%>!</h1>
    <h3></h3>
    <p>Welcome to My Nodejs Blog!</p>
    <p><a class="btn btn-primary btn-lg" href="/users/login" role="button">返回登录页面</a></p>
</div>

</body>
</html>