<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testSession</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

</head>
<body>

    <div class="jumbotron">
        <h1><%= name%> from SESSION!</h1>
    </div>
</body>
</html>