<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>


<div class="jumbotron">
    <h1>Hello, <%= username%>!</h1>
    <p>Welcome to Nodejs World!</p>
    <p><a class="btn btn-primary btn-lg" href="/users/testSession" role="button">获取SESSION</a></p>
</div>

</body>
</html>